header {
    text-align: center;
    padding: 40px 0;
    background-color: rgb(191, 95, 255);
    margin-bottom: 40px;
}

.card {
    flex-basis: 250px;
    box-shadow: 3px 3px 10px black;
    margin: 10px;
}

.list-group {
    padding: 10px 0;
}